.red {
    color:red;
}

.bold{
    font-weight: bold;
}

.Cockpit button.button-warning{
    border: 1px solid red;
}

.Cockpit button{
    font:inherit;
    background: #fff;
    border: 1px solid #255cca;
    padding: 8px;
    margin-left: 3px;
    cursor: pointer;
}

